a{
    transition: .5s;
}
a:link {
    color: #1373ca; /*正常*/
}

a:visited {
    color: #1373ca; /*已浏览*/
}

a:hover {
    color: #ff0000; /*当前*/
}

a:active {
    color: #ff0000; /*鼠标滑过*/
}
li{
    list-style-type: none;
    margin: 10px 10px 10px 50px;
}
div{
    margin: 40px 10px 5px 50px;
    line-height: 50px;
}
img{
    width: 100px;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
}
.title{
    margin: 50px 10px 50px 10px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 15px;
    color: #c40030;
}
.qrcode{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}